@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
overflow-x: none;
}
.barlow {
  font-family: "Barlow", sans-serif;
}
.dela-gothic {
  font-family: "Dela Gothic One", sans-serif;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
